<div class="panel" ng-class="{'panel-warning':therapy.newTherapy,'panel-default':!therapy.newTherapy}">
    <div class="panel-heading clearfix">
        <div class="row">
            <div class="col-md-10 text-center">
                <div class="form-group col-sm-6">
                    <label>Bejegyzés időpontja: </label>
                    <md-datepicker ng-if="therapy.newTherapy" name="therapy" md-hide-icons="calendar"
                                   ng-model="therapy.therapyDate"
                                   md-placeholder="ÉÉÉÉ.HH.NN"
                                   required></md-datepicker>
                    <span ng-if="!therapy.newTherapy">{{ therapy.therapyDate}}</span>
                </div>
                <div class="form-group col-sm-6">
                    <label>Terapeuta: </label>
                    <span class="form-control-static">{{therapy.therapist.name}}</span>
                </div>
            </div>
            <div class="col-md-2 text-right" ng-if="therapy.newTherapy">
                <i class="fa fa-trash btn btn-warning" aria-hidden="true" ng-click="delete()"></i>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="therapy-list">
            <div class="form-group" ng-class="{'has-error' : checkError({field:'interview'+idx})}">
                <label class="control-label">Interjú</label>
                <textarea name="interview{{idx}}" class="form-control" ng-dblclick="openEditor('Interjú','interview')"
                          ng-model="therapy.interview" cols="45" rows="5" ng-required="therapy.newTherapy"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label">Terápia</label>
                <textarea name="teraphy{{idx}}" class="form-control" rows="5"
                          ng-dblclick="openEditor('Terápia','therapy')"
                          ng-model="therapy.therapy"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label">Eredmény</label>
                <textarea name="treatment{{idx}}" class="form-control" rows="5"
                          ng-dblclick="openEditor('Kezelés','treatment')"
                          ng-model="therapy.treatment"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label">Javaslat - kontroll</label>
                <textarea name="result{{idx}}" class="form-control" rows="5"
                          ng-dblclick="openEditor('Eredmény','result')"
                          ng-model="therapy.result"></textarea>
            </div>
        </div>
    </div>
</div>