<form name="therapyForm" novalidate class="form" ng-submit="save(false)">
    <div class="row">
        <div class="col-md-12"><h4>Páciens: {{patient.name}}</h4>
            <button type="submit" class="btn btn-primary">Mentés</button>
            <button type="button" ng-click="save(true)" class="btn btn-primary">Mentés és Bezár</button>
            <button
                    type="button" class="btn btn-warning" ng-show="therapyForm.$dirty" ng-click="reset()">Visszaállít
            </button>
            <div>
                <div class="alert alert-danger" ng-show="showFormError">Hibás mezők. Kérem javítsa őket!</div>
            </div>
        </div>
    </div>
    <div id="new-therapy-btn" class="row">
        <div class="col-md-12 text-center">
            <div>
                <button type="button" class="btn btn-default" ng-click="addNewTherapy()">Új bejegyzés</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <therapy ng-repeat="t in therapies | limitTo: therapyLimit" therapy="t" delete="delete($index)"
                     check-error="checkError(field)"
                     idx="{{$index}}"></therapy>
        </div>
    </div>
</form>
<div infinite-scroll="moreTherapies()" infinite-scroll-distance="3"></div>

