<!DOCTYPE html>
<html lang="hu" ng-app="MoraPatientApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/angular-material.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/tree-control.css">
    <link rel="stylesheet" href="main.css">
    <title>Mora páciens kezelő</title>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/hu.js"></script>
    <script src="js/lodash.js"></script>
</head>
<body ng-cloak>
<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarController" ng-if="loginTherapist != null">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li ng-class="{'active' : isActive('/patient-list')}">
                <a ng-href="#/patient-list"><i class="fa fa-address-card-o" aria-hidden="true"></i> Páciens lista</a>
            </li>
            <li ng-class="{'active' : isActive('/patient-data')}">
                <a ng-href="#/patient-data"><i class="fa fa-user" aria-hidden="true"></i> Új páciens</a>
            </li>

            <li role="presentation" class="dropdown" ng-if="patient">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true"
                   aria-expanded="false"><i class="fa fa-heartbeat" aria-hidden="true"></i> Kezelések<span
                        class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a type="button" ng-href="#/treatment/therapies/{{patient.id}}">Terápiák</a></li>
                    <li><a type="button" ng-href="#/treatment/nova-result/{{patient.novaPatientId}}">Nova Tesztek</a>
                    </li>
                    <li><a type="button" ng-href="#/treatment/mora-result/{{patient.id}}">Mora I. Tesztek</a></li>
                </ul>
            </li>
        </ul>
        <div ng-if="patient" class="text-center navbar-center">
            <h4>Páciens: {{patient.name}}</h4>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li role="presentation" class="dropdown" ng-if="loginTherapist.name == 'admin'">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true"
                   aria-expanded="false">Adminisztráció<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-class="{'active' : isActive('/administration/therapist-admin')}">
                        <a ng-href="#/administration/therapist-admin">Terapeuták</a>
                    </li>
                    <li ng-class="{'active' : isActive('/administration/nova-mora-patients')}">
                        <a ng-href="#/administration/nova-mora-patients">Nova - Mora betegek összekapcsolása</a>
                    </li>
                    <!--<li ng-class="{'active' : isActive('/administration/nova-materials')}"-->
                    <!--&gt;<a ng-href="#/administration/nova-materials">Nova anyagok</a>-->
                    <!--</li>-->
                    <li ng-class="{'active' : isActive('/administration/settings')}"
                    ><a ng-href="#/administration/settings">Beállítások</a>
                    </li>
                </ul>
            </li>
            <li class="navbar-text">Bejelentkezve mint: {{loginTherapist.name}}</li>
            <li><a ng-href="#/login"> <i class="fa fa-sign-out" aria-hidden="true"></i> Kijelentkezés</a></li>
        </ul>
    </div>
</nav>
<div class="container" ng-view></div>


<script src="js/angular.js"></script>
<script src="js/angular-animate.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/angular-messages.js"></script>
<script src="js/angular-aria.js"></script>
<script src="js/angular-material.js"></script>
<script src="js/ng-infinite-scroll.min.js"></script>
<script src="js/angular-tree-control.js"></script>

<!--angular app-->
<script src="app/app.js"></script>

<!--factories-->
<script src="app/components/MoraDataService.js"></script>
<script src="app/components/NovaDataService.js"></script>
<script src="app/components/SettingsService.js"></script>
<script src="app/components/AlertService.js"></script>
<script src="app/components/PatientsCache.js"></script>

<!--directive-->
<script src="app/treatment/therapies/therapy-directive.js"></script>
<script src="app/patient-list/thSortIndicatorDirective.js"></script>

<!--controllers-->
<script src="app/navbar/NavbarController.js"></script>
<script src="app/login/LoginController.js"></script>
<script src="app/patient-data/PatientDataController.js"></script>
<script src="app/patient-list/PatientListController.js"></script>

<script src="app/treatment/mora-result/MoraResultsController.js"></script>
<script src="app/treatment/nova-result/NovaResultsController.js"></script>
<script src="app/treatment/therapies/TherapiesController.js"></script>
<script src="app/treatment/therapies/TherapyDialog.js"></script>

<script src="app/administration/therapists/TherapistAdminController.js"></script>
<script src="app/administration/nova-materials/NovaMaterialsController.js"></script>
<script src="app/administration/nova-mora-patients/NovaMoraPatientsController.js"></script>
<script src="app/administration/settings/SettingsController.js"></script>

</body>
</html>