body {
    padding: 80px 0;
}

.container {
    margin-bottom: 80px;
}

.navbar-center {
    position: absolute;
    left: 50%;
    margin-top: 5px;
    transform: translateX(-50%);
    float: none;
    display: inline-block;
}

#login-banner {
    margin: 4em 0;
}

.success-toast div.md-toast-content {
    background: green;
}

.alert {
    margin: 10px 0;
}

.uneditable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#therapy-dialog {
    padding: 10px;
}

#new-therapy-btn {
    margin: 10px 0;
}

.therapy-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
}

.therapy-list div {
    margin: 0 5px;
}

.therapy-list label {
    display: block;
}

/*Patient Data*/

#patientCity input, md-autocomplete md-autocomplete-wrap {
    line-height: 1.42857143;
    height: 34px;
}

md-autocomplete md-autocomplete-wrap {
    border-radius: 4px;
}

#zip {
    width: 10em;
}

/* Patient test */

#patient-test-switch {
    margin: 0;
}

#elh-elements-div {
    margin-top: 20px;
}

/* Nova results */
#nova-results-list {
    list-style-type: none;
    padding: 0;
    border-right: 1px solid #CCC;
}

#nova-results-list li {
    text-align: center;
    padding: 0.75em 0;

}

#nova-results-list li:hover, #nova-results-list li.selected {
    background-color: #EEE;
}
