<div class="row">
    <form class="form-horizontal ">
        <div class="form-group col-md-3">
            <label for="searchField" class="control-label">Keresés</label>
            <input type="text" class="form-control" id="searchField" ng-model="searchText"
                   ng-model-options="{debounce : 500}" ng-minlength="3"/>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
            <th>Név</th>
            <th>Születési idő</th>
            <th>Város</th>
            <th>Telefonszám</th>
            <th>Utoljára módosítva</th>
            <th>Műveletek</th>
            </thead>
            <tbody>
            <tr ng-repeat="patient in patients | filter : searchText | limitTo: scrollLimit"
                ng-dblclick="openTherapies(patient.id)">
                <td>{{patient.name}}</td>
                <td>{{patient.birthDate | date: dateformat.DATE}}</td>
                <td>{{patient.city}}</td>
                <td>{{patient.phone}}</td>
                <td>{{modifiedSince(patient.lastModified)}}
                    <md-tooltip md-direction="bottom">
                        {{patient.lastModified | date: dateformat.DATETIME }}
                    </md-tooltip>
                </td>
                <td>
                    <ul class="list-inline">
                        <li><a ng-href="#/therapies/{{patient.id}}">Terápiák</a></li>
                        <li><a ng-href="#/patient-test/{{patient.id}}">Tesztek</a></li>
                        <li><a ng-href="#/patient-data/{{patient.id}}">Szerkesztés</a></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
        <div infinite-scroll="morePatients()" infinite-scroll-distance="3"></div>
    </div>
</div>