#login-banner {
    margin: 4em 0;
}

#patientCity input, md-autocomplete md-autocomplete-wrap {
    line-height: 1.42857143;
    height: 34px;
}

md-autocomplete md-autocomplete-wrap {
    border-radius: 4px;
}

.success-toast div.md-toast-content {
    background: green;
}

.alert {
    margin: 10px 0;
}

#therapy-dialog {
    padding: 10px;
}

#new-therapy-btn {
    margin: 10px 0;
}

.therapy-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
}

.therapy-list div {
    margin: 0 30px;
}

.therapy-list label {
    display: block;
}
