#login-banner {
    margin: 4em 0;
}

#patientCity input, md-autocomplete md-autocomplete-wrap {
    line-height: 1.42857143;
    height: 34px;
}

md-autocomplete md-autocomplete-wrap {
    border-radius: 4px;
}
